---
import WindowControls from '../common/WindowControls.astro';
import WindowMinimize from '../common/WindowMinimize.astro';
import { CONFIG } from '../../scripts/core/config';
---

<div class="cde-retro-modal app-manager-window" id="appManager">
  <div class="titlebar" id="appManagerTitlebar" onmousedown="window.drag(event, 'appManager')">
    <WindowMinimize windowId="appManager" />
    <span class="titlebar-text">Application Manager</span>
    <WindowControls windowId="appManager" closeFunction="appManager.close" />
  </div>

  <!-- Menu Bar -->
  <div class="app-manager-menubar">
    <button class="menu-button">File</button>
    <button class="menu-button">Selected</button>
    <button class="menu-button">View</button>
    <a href={CONFIG.META.ISSUES_URL} target="_blank" class="menu-button-link">
      <button class="menu-button">Help</button>
    </a>
  </div>

  <div class="modal-body app-manager-body">
    <!-- Main view: Application Groups (folders) -->
    <div class="app-manager-view" id="appManagerMainView">
      <div class="app-group-item" data-group="Accessories">
        <img
          src="/icons/categories/applications-accessories.png"
          alt="Accessories"
          class="folder-icon"
        />
        <span>Accessories</span>
      </div>

      <div class="app-group-item" data-group="Internet">
        <img src="/icons/categories/applications-internet.png" alt="Internet" class="folder-icon" />
        <span>Internet</span>
      </div>

      <div class="app-group-item" data-group="Development">
        <img
          src="/icons/categories/applications-development.png"
          alt="Development"
          class="folder-icon"
        />
        <span>Development</span>
      </div>

      <div class="app-group-item" data-group="System">
        <img src="/icons/categories/applications-system.png" alt="System" class="folder-icon" />
        <span>System</span>
      </div>

      <div class="app-group-item" data-group="Utilities">
        <img
          src="/icons/categories/applications-utilities.png"
          alt="Utilities"
          class="folder-icon"
        />
        <span>Utilities</span>
      </div>

      <div class="app-group-item" data-group="Preferences">
        <img
          src="/icons/categories/preferences-desktop.png"
          alt="Preferences"
          class="folder-icon"
        />
        <span>Preferences</span>
      </div>

      <div class="app-group-item" data-group="Help">
        <img src="/icons/categories/system-help.png" alt="Help" class="folder-icon" />
        <span>Help</span>
      </div>
    </div>

    <!-- Dynamic Category Content -->
    <div class="app-manager-view app-group-content" id="appGroupDynamicView" style="display: none;">
      <!-- Content injected via JavaScript -->
    </div>
  </div>

  <div class="cde-statusbar">
    <div class="cde-statusleft" id="appManagerStatus">7 Folders</div>
    <div class="cde-statusright" id="appManagerPath">/var/dt/appconfig/appmanager/C</div>
  </div>
</div>

